.footerContainer {

    .actionIcon {
        font-size: 25px;
        cursor: pointer;
    }

    .score {
        margin-left: 10px;
        margin-right: 10px;
        cursor: default;
    }

    .copyIcon {
        margin-right: 10px;
    }

    .activeUpvote {
        color: #57c6f1;
    }

    .activeDownvote {
        color: #FF8b60;
    }
}