.tui-image-editor-header-logo {
  display: none;
}

.tui-image-editor-controls-logo {
  display: none;
}

.tui-image-editor-header-buttons {
  float: none !important;
  text-align: center !important;
}

.tui-image-editor {
  width: 100% !important;
  overflow: hidden;
  text-align: center;
  top: 0 !important;
}

.tui-image-editor-canvas-container {
  top: 0 !important;
  display: inline-block;
  width: 100% !important;
  height: 0  !important;
}

.tui-image-editor-header {
  min-width: unset !important;
}

.tui-image-editor-controls,
.tui-image-editor-menu-text,
.tui-image-editor-size-wrap {
  display: block !important;
}

.tui-image-editor-menu {
  width: 100% !important;
  display: block !important;
  overflow-x: auto !important;
  height: 100% !important;
}

.tui-image-editor-submenu {
  display: block !important;
  padding-top: 30px !important;
  overflow-x: auto !important;
  overflow-y: visible !important;
}

.tui-image-editor-submenu-style {
  display: none !important;
}

.tui-image-editor-align-wrap {
  display: block !important;
  max-height: 500px !important;
  overflow: hidden !important;
}

@media (min-width: 950px) {
  .tui-image-editor-canvas-container {
    margin-top: 0px !important;
  }
}
