.tui-image-editor-header-logo {
  display: none;
}

.tui-image-editor-controls-logo {
  display: none;
}

.tui-image-editor-header-buttons {
  float: none !important;
  text-align: center !important;

  > div {
    display: none !important;
  }
}

.tui-image-editor {
  width: 100% !important;
  overflow: hidden;
  text-align: center;
  top: 0 !important;
}

.tui-image-editor-canvas-container {
  top: 0 !important;
  display: inline-block;
  width: 100% !important;
  height: 0  !important;
  border: 1px solid #282828;
}

.tui-image-editor-header {
  min-width: unset !important;
}

.tui-image-editor-controls,
.tui-image-editor-menu-text,
.tui-image-editor-size-wrap {
  display: block !important;
}

.tui-image-editor-size-wrap, .tui-image-editor-main.tui-image-editor-menu-text {
  overflow: hidden;
}

.tui-image-editor-menu {
  width: 100% !important;
  display: block !important;
  overflow-x: auto !important;
  height: 100% !important;
}

.tui-image-editor-submenu {
  padding-top: 30px !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

.tui-image-editor-container .tui-image-editor-main.tui-image-editor-menu-text .tui-image-editor-submenu {
  display: block;
}

.tui-image-editor-submenu-style {
  display: none !important;
}

.tui-image-editor-align-wrap {
  display: block !important;
  overflow: hidden !important;
}

.color-picker-control {
  top: -30px !important;
  left: -205px !important;
}

.triangle {
  bottom: 85px !important;
  left: 189px !important;
  transform: rotate(-90deg);
}

@media (min-width: 950px) {
  .tui-image-editor-canvas-container {
    margin-top: 0px !important;
  }
}
